<!DOCTYPE html>
<html>
<head>
	<title>Insert Data</title>
	<link rel="stylesheet" href="styles.css">
	<script src="homescripts.js"></script>
</head>
<body>
<div class="banner">
<h1>Insert Data</h1>
</div>
<div class="navigationMenu">
  <a href="home.html">Search Data</a>
	<a class="activeNav" href="insert.html">Manage Data</a>
	<a href="view.html">View Data</a>
</div><br><br><br><br>

<div class="manageForm">
  <h2>Movies:</h2>
  <form action="" method="get" target="_blank">
    <label>Movie ID:</label>
    <input type="number" name="idroleInsert"><br>
    <label>Title:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Franchise:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Genre:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Budget:</label>
    <input type="number" name="idroleInsert"><br>
    <label>Revenue:</label>
    <input type="number" name="idroleInsert"><br>
    <label>Director:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Studio:</label>
    <input type="text" name="idroleInsert"><br><br>
    <input class="insertMovie" type="submit" value="Insert Movie">
    <input class="updateMovie" type="submit" value="Update Movie">
    <input class="deleteMovie" type="submit" value="Delete Movie">
    <br><br>
  </form>
</div><br>

<div class="manageForm">
  <h2>Actors:</h2>
  <form action="" method="get" target="_blank">
    <label>Name:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Gender:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Nationality:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Date of Birth:</label>
    <input type="date" name="idroleInsert"><br>
    <label># of Roles:</label>
    <input type="number" name="idroleInsert"><br><br>
    <input class="insertMovie" type="submit" value="Insert Actor">
    <input class="updateMovie" type="submit" value="Update Actor">
    <input class="deleteMovie" type="submit" value="Delete Actor">
    <br><br>
  </form>
</div><br>

<div class="manageForm">
  <h2>Characters:</h2>
  <form action="" method="get" target="_blank">
    <label>Name:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Are they a Villain?</label>
    <input type="checkbox" name="idroleInsert"><br>
    <label>Creation Date:</label>
    <input type="date" name="idroleInsert"><br>
    <input class="insertMovie" type="submit" value="Insert Character">
    <input class="updateMovie" type="submit" value="Update Character">
    <input class="deleteMovie" type="submit" value="Delete Character">
    <br><br>
  </form>
</div><br>

<div class="manageForm">
  <h2>Roles:</h2>
  <form action="" method="get" target="_blank">
    <label>Movie ID:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Actor (if casted):</label>
    <input type="text" name="idroleInsert"><br>
    <label>Character:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Main Role?</label>
    <input type="checkbox" name="idroleInsert"><br>
    <input class="insertMovie" type="submit" value="Insert Role">
    <input class="updateMovie" type="submit" value="Update Role">
    <input class="deleteMovie" type="submit" value="Delete Role">
    <br><br>
  </form>
</div><br>

<div class="manageForm">
  <h2>Studios:</h2>
  <form action="" method="get" target="_blank">
    <label>Name:</label>
    <input type="text" name="idroleInsert"><br>
    <label>HQ Location:</label>
    <input type="text" name="idroleInsert"><br>
    <label>Date Founded:</label>
    <input type="date" name="idroleInsert"><br><br>
    <input class="insertMovie" type="submit" value="Insert Studio">
    <input class="updateMovie" type="submit" value="Update Studio">
    <input class="deleteMovie" type="submit" value="Delete Studio">
    <br><br>
  </form>
</div><br>

<div class="manageForm">
  <h2>Scores:</h2>
  <form action="" method="get" target="_blank">
    <label>Movie ID:</label>
    <input type="text" name="idroleInsert"><br>
    <label>IMDB Score:</label>
    <input type="number" name="idroleInsert"><br>
    <label>Rotten Tomatoes Critic Score:</label>
    <input type="number" name="idroleInsert"><br>
    <label>Rotten Tomatoes Audience Score:</label>
    <input type="number" name="idroleInsert"><br><br>
    <input class="insertMovie" type="submit" value="Insert Score">
    <input class="updateMovie" type="submit" value="Update Score">
    <input class="deleteMovie" type="submit" value="Delete Score">
    <br><br>
  </form>
</div><br>
<div class="forms">

</body>
</html>