<!DOCTYPE html>
<html>
<head>
	<title> View Data</title>
	<link rel="stylesheet" href="styles.css">
	<script src="homescripts.js"></script>
</head>
<body>
<div class="banner">
<h1>View Data</h1>
</div>
<div class="navigationMenu">
  <a href="home.html">Search Data</a>
  <a href="insert.html">Manage Data</a>
  <a class="activeNav" href="view.html">View Data</a>
</div>
<br><br><br><br>

<div class="viewTable">
<h2>Movies</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Movie ID</th>
		<th>Title</th>
		<th>Franchise</th>
		<th>Genre</th>
		<th>Budget</th>
		<th>Revenue</th>
		<th>Director</th>
		<th>Studio</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>
<a>All movies listed here</a><br><br>
</div>
<br>

<div class="viewTable">
<h2>Actors</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Name</th>
		<th>Nationality</th>
		<th>Date of Birth</th>
		<th>Gender</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>
<a>All actors listed here</a><br><br>
</div>
<br>

<div class="viewTable">
<h2>Roles</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Movie ID</th>
		<th>Character</th>
		<th>Actor</th>
		<th>Main Role?</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>
<a>All roles listed here</a><br><br>
</div>
<br>

<div class="viewTable">
<h2>Characters</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Name</th>
		<th>Creation Date</th>
		<th>Villian?</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>
<a>All characters listed here</a><br><br>
</div>
<br>

<div class="viewTable">
<h2>Studios</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Name</th>
		<th>Founding Date</th>
		<th>HQ Location</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>
<a>All studios listed here</a><br><br>
</div>
<br>

<div class="viewTable">
<h2>Scores</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Movie ID</th>
		<th>IMDB</th>
		<th>Rotten Tomatoes Critic</th>
		<th>Rotten Tomatoes Audience</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>
<a>All scores listed here</a><br><br>
</div>
<br>